body{
    color:rgba(179, 31, 31, 0.839)
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(47, 137, 234);
  padding: 10px;
}
.grid-container div {
  background-color: #7ff09f;
  border: 1px solid rgb(101, 98, 105);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}